/* BODY */
    body {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
    
/* Structure */
    .section {
        color: white;
        width: 100%;
        min-height: 100px;
        display: inline-block;
        background-color: #000000;
        display: flex;
        flex-wrap:wrap;
    }
        .section.customImageBackground {
            background-size: cover;
            padding: 20px 0;
            min-height: 400px;
        }
        .section.altBackground {
            background-color: #272727;
        }
        .section.header {
            min-height: 400px;
        }
        .section.footer .component {
            min-width: unset !important;
        }
        .section.pros .wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .section.pros .wrapper .component {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: fit-content;
        }
    
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap; 
        box-sizing:border-box;
        justify-content: center;
        align-self: center;
        transition: all 0.5s;
    }
        .wrapper .component:only-child {
            padding-top: 80px;
            padding-bottom: 80px
        }
    
    .component {
        flex: 1 1 0;
        display:inline-block;
        min-width: 450px;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
        .component .componentImage {
            width:100%; 
        }
        
/* Text Styles */
    
    .component > h1, .component > h2, .component > h3, .component > p {
        padding: 0px 60px;
    }
    
    h1 {
        font-family: futura-pt, sans-serif;
        font-weight: 400;    
        font-style: normal;
        font-size: 6em;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 60;
        transform: translateX(0.2em);
        word-break: break-all
    }
        .committedTitle {
            font-family: chantal, sans-serif;
        }
        .admittedTitle {
            font-family: agency-fb, sans-serif;
        }
    h2 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 13;
        font-weight:400;
        opacity: 0.7;
        transition: all 0.3s;
    }
    .section:hover h2 {
        opacity: 1;
        transform: scale(1.01);
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-weight: 400;    
        font-style: normal;
        text-transform: uppercase;    
    }
        p {
            font-family: futura-pt, sans-serif;
            font-weight: 300;    
            font-style: normal;
            font-size: 1em;
            line-height: 1.5;
            letter-spacing: 1.5;
        }
        p.date {
            font-family: futura-pt, sans-serif;
            font-weight: 400;    
            font-style: normal;
            font-size: 2em;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 15;
        }
        p.title {
            font-size: 2em;
            letter-spacing: 12;
            font-weight: 400;
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
        }
        p.credits, p.quickLinks {
            font-size: 0.6em;
            text-transform: uppercase;
            opacity: 0.5;
            transition: 0.5s all;
        }
        p.credits:hover, p.quickLinks:hover {
            opacity: 1;
            cursor: default;
        }
        .title span {
            color: rgba(143, 9, 10, 1);
        }
    .subtitle {
        margin-top: -0.8em;
    }
    
    /* Other Elements */
    button {
        background: rgba(143, 9, 10, 0.56);
        
        font-family: futura-pt, sans-serif;
        font-weight: 300;    
        font-style: normal;
        font-size: 0.8em;
        line-height: 1.8;
        letter-spacing: 8;
        
        color: white;
        border: none;
        line-height: 2.5;
        padding: 0.5em 5em;
        
        transition: all 0.5s;
        animation: shake-animation 5s ease infinite;
        transform-origin: 50% 50%;
        animation-delay: 2s;
    }
        button:hover {
            background: rgba(143, 9, 10, 1);
            cursor: pointer;
            animation: none;
        }
        @keyframes shake-animation {
            0% { transform:translate(0,0) }
            1.78571% { transform:translate(5px,0) rotate(0.2deg)}
            3.57143% { transform:translate(0,0) rotate(-0.2deg) }
            5.35714% { transform:translate(5px,0) rotate(0.2deg) }
            7.14286% { transform:translate(0,0) rotate(-0.2deg) }
            8.92857% { transform:translate(5px,0) rotate(0.2deg) }
            10.71429% { transform:translate(0,0) rotate(0deg) }
            100% { transform:translate(0,0) rotate(0deg) }
        }
