.filmContainer {
    display: block;
    position: fixed;
    transform-origin: 50% 50%;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom:50%;
    transition: 0.3s all;
    overflow: hidden;
    background-color: black;
    z-index: 9;
    opacity: 0;
}
.filmContainer.active {
    opacity: 1;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}
.filmContainer::after {
    position: absolute;
    top:0;
    right:0;
    width:200px;
    height: 50px;
    content: "TEST MODE: Press Escape To Exit.";
    display: block;
    color: white;
    font-size: 12px;
}
        .filmContainer .filmPlayer video {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            left: 0;
            max-height: 100%;
        } 
        .livePlayer {
            display: block;
        }
        .optionPlayer, .watchedPlayer, .queuedPlayer {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
        
        #interactiveLayer {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
        }
        #interactiveLayer span {
            color: #fff;
            font-size: 50px;
            text-align: center;
            margin: 0 auto;
            display:block;
        }
        .hotspot {
            position: absolute;
            cursor: pointer;
            z-index: 9;
            text-align: center;
            color: white;
            border: rgba(255, 0, 0, 0.3) solid 1px;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 35%;
            display:none;
        }
        #videoButton.play {
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            border-top: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid #820000;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
.playerContainer {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}
    
div#choiceSelection, div#interactiveLayer::before, div#interactiveLayer::after {
    transition: all 1s ease-in-out;
}
    
div#choiceSelection {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:0%;
    opacity: 0;
    display: flex;
    pointer-events: none;
    transition-delay: 0s;
    z-index: 1;
}
div#choiceSelection.active {
    opacity: 1;
    height: 12.5%;
    pointer-events: all;
}
div#choiceSelection span.playerChoice {
    align-self: center;
    padding: 3px 3px 0px 3px;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    letter-spacing: 0.15em;
    font-size: 1em;
    cursor: pointer;
    font-weight: 100;
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    line-height: 2.5em;
    opacity: 0.5;
    transition: 0.4s ease-in-out;
    transition-delay: 0s;
    border-bottom: black solid 2px;
    background-color: rgba(255,255,255,0.0);
}
div#choiceSelection span.playerChoice::before {
    content: "→";
    position: absolute;
    width: 1em;
    margin-left: -1.5em;
    opacity: 0;
    transition: all 0.2s;
}
div#choiceSelection span.playerChoice:hover, div#choiceSelection span.playerChoice.selected {
    opacity: 1;
    font-weight: 400;
    border-color: white;
    background-color: rgba(255,255,255,0.01);
}

div#choiceSelection span.playerChoice:hover::before, div#choiceSelection span.playerChoice.selected::before {
    opacity: 0.4;
}
div#choiceSelection span.playerChoice:hover::first-letter, div#choiceSelection span.playerChoice.selected::first-letter {
    border-bottom: solid rgba(255,150,150,0.04) 2px;
}
#interactiveLayer {
    overflow: hidden;
    position: absolute;
    z-index: 9;
    left: 0;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
}
div#interactiveLayer::before, div#interactiveLayer::after {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    content: "";
    height: 0%;
    background-color: rgba(0,0,0,1);
}
div#interactiveLayer.bordered::after, div#interactiveLayer.bordered::before {
    height: 12.5%;
}
div#interactiveLayer::before {
    top: 0;
}
div#interactiveLayer::after {
    bottom: 0;
}
span.playerChoice.locked::before {
    opacity: 0;
    display: none;
}
span.playerChoice.locked::first-letter {
    border-bottom: 0;
}
span.playerChoice.locked {
    border: rgba(0,0,0,0) solid 3px !important;
}
body.filmLaunched {
    overflow: hidden;
}
.filmPlayer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 56vw;
    left: 0;
    right: 0;
    max-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
}
.filmPlayer.active { 
    opacity: 1;
    transition-delay: 0s;
}
.playerSplash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,1);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.filmContainer.active .playerSplash.show {
	opacity: 1;
    transition-delay: 0s;
}

.playerSplash > video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    opacity: 0.05;
    transition: all 0.5s;
}
.playerSplash div {
    
}
.playerSplash div > video {
    width: 0em;
    text-align: center;
    display: -webkit-box;
    margin: 0 auto;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
    margin-bottom: 1em;
    border-radius: 50%;
    padding: 2.5em 0;
}
.filmContainer.active .playerSplash.show div > video {
    width: 5em;
    opacity: 0.8;
    padding: 0em;
    transition-delay: 0s;
}
.playerSplash h2, .playerSplash h4, .playerSplash p, .playerSplash button {
    z-index: 99;
    position: relative;
    display: block;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    color: white;
}
.playerSplash button {
    background: rgba(143, 9, 10, 1);
    padding: 1em;
    line-height: 1;
    font-size: 1.5em;
    width: 100%;
    margin-top:2.5em;
    max-width: 20em;
}
.playerSplash button:focus, .playerSplash button:focus-within {
	box-shadow: inset 0px 0px 10px rgba(255,255,255,0.4);
}
.playerSplash button:active {
    box-shadow: inset 0px 0px 40px rgba(0,0,0,1);
}
.playerSplash h2 {
	letter-spacing: 0.2em;
}
.playerSplash h2.glitch::before {
	left: 1px;
    right: -1px;
    text-shadow: 1px 0 blue;
}
.playerSplash h2.glitch::after {
	left: 1px;
    right: 0px;
    text-shadow: -1px 0 red;
}
.playerSplash h4 {
    padding-top: 10px;
} 
.playerSplash p {
    padding-top: 20px;
    opacity: 0.2;
} 

.filmPlayer video {
    transition: all 0.5s;
}
.filmPlayer video.queued, .filmPlayer video.completed {
    display: none;
}